.back-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  font-family: 'Xanh Mono', monospace;
  margin: 0 10px;
}

.back-button:hover {
  background-color: grey;
}
