.flip-card {
    font-family: 'Xanh Mono', monospace;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border: 4px solid #f4ecec;
    border-radius: 12px;
}

.flipped {
    transform: rotateY(180deg);
    box-shadow: grey;
}

h2 {
    margin-top: 20%;
    font-family: 'Xanh Mono', monospace;
}

.flip-card-question {
    font-size: 1em;
    color: rgba(36, 15, 15, 0.7);
}

.flip-card-question, .flip-card-answer {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    font-family: 'Xanh Mono', monospace;

}

.flip-card-answer {
    font-size: 1.1em;
    position: absolute;
    top: 50%;
    transform: rotateY(180deg) translate(-35%, -50%);
    width: 60%;
    height: auto;
    font-size: 1.1em;
    color: rgba(36, 15, 15, 0.7);
}

.flip-card-footer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    left: 0;
}
