.App {
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: #676662;
}

h1 {
  font-family: 'Xanh Mono', monospace;
  line-height: 1.5;
  font-size: 2rem;
  margin-top: 3rem;
}

.App-header {
  text-align: left;
  margin-left: 30px;
  padding-top: 20px;
  margin-bottom: 30px;
  color: rgb(223, 231, 229);
  font-family: 'Xanh Mono', monospace;
}

.description {
  width: 60%;
  margin-top: 3em;
  margin-left: 20%;
  color: rgb(223, 231, 229);
  font-family: 'Xanh Mono', monospace;
}

.num-of-cards {
  align-items: center;
  padding-top: 2em;
}

.cards-container {
  align-items: center;
  height: 400px;
  width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  font-family: 'Xanh Mono', monospace;
}

.next-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.input-panel {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: 'Xanh Mono', monospace;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
  margin-bottom: 10px;
}

.input-panel::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-panel:focus {
  outline: none;
  background-color: grey;
}

.mastered-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  .cards-container {
    width: 100%;
    margin-left: 0;
    background-color: transparent;
  }

  .flex-container {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  .description {
    width: 100%;
    font-size: 0.9rem;
    margin-left: 0;
  }

  .cards-container {
    height: auto;
    width: 100%;
  }
}